.TaskInfo {
  margin: 40px;

  .PersonInfo {
    border-bottom: 1px solid rgba(244, 246, 250, 0.3);
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

    padding: 0 0 40px 0;
  }

  .PersonInfoText {
    display: flex;
    flex-direction: column;
  }

  .TodoText {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;

    color: #F4F6FA;
  }
  .TodoTextInfo {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    color: #F4F6FA;
    opacity: 0.5;
  }
}


