.TaskListItem {
  background: rgba(35, 38, 44, 1);
  width: 420px;
  border-radius: 20px;
  margin: 24px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  text-decoration: none;

  .remove {
    color: white;
    position: absolute;
    margin: 8px;
    top: 0;
    right: 0;
  }

  &.Active {
    border: 1px solid #383B41;
  }
}
